{% extends 'base.html' %}
{% load static %}

{% block content %}

        {% include 'navbar.html' %}

        <main class="feed">
              <section class="photo">
                {% for notification in notifications %}
                {% if notification.type == 'Like' %}
                <a href="{% url 'post:post_details' notification.post.id %}">
                  <header class="photo__header">
                      <div class="photo__header-column">
                          {% if notification.sender.profile.picture %}
                          <img class="photo__avatar" src="{{ notification.sender.profile.picture.url }}" />
                          {% else %}
                          <img class="photo__avatar" src="{% static './images/default.jpg'%}" />
                          {% endif %}
                      </div>
                      <div class="photo__header-column">
                          <span class="photo__username text-black">{{ notification.sender }}</span>
                          <i class="fa fa-thumbs-up text-black"></i>&emsp;<span class="notification__title text-black">Your post was loved by {{ notification.sender }}</span>
                          <span class="notification__time-ago">{{ notification.created_at }}</span>
                      </div>
                  </header>
                </a>

                {% elif notification.type == 'Comment' %}
                <a href="{% url 'post:post_details' notification.post.id %}">
                  <header class="photo__header">
                      <div class="photo__header-column">
                        {% if notification.sender.profile.picture %}
                        <img class="photo__avatar" src="{{ notification.sender.profile.picture.url }}" />
                        {% else %}
                        <img class="photo__avatar" src="{% static './images/default.jpg'%}" />
                        {% endif %}
                      </div>
                      <div class="photo__header-column">
                          <span class="photo__username text-black">{{ notification.sender }}</span>
                          <i class="fa fa-comments text-black"></i>&emsp;<span class="notification__title text-black">{{ notification.comment_body }}</span>
                          <span class="notification__time-ago">{{ notification.created_at }}</span>
                      </div>
                  </header>
                </a>

                {% elif notification.type == 'Follow' %}
                <a href="{% url 'profile:profile' notification.sender.profile %}">
                  <header class="photo__header">
                      <div class="photo__header-column">
                        {% if notification.sender.profile.picture %}
                        <img class="photo__avatar" src="{{ notification.sender.profile.picture.url }}" />
                        {% else %}
                        <img class="photo__avatar" src="{% static './images/default.jpg'%}" />
                        {% endif %}
                      </div>
                      <div class="photo__header-column">
                          <span class="photo__username text-black">{{ notification.sender }}</span>
                          <i class="fa fa-user-plus text-black"></i>&emsp;<span class="notification__title text-black">{{ notification.sender }} followed you! Follow back?</span>
                          <span class="notification__time-ago">{{ notification.created_at }}</span>
                      </div>
                  </header>
                </a>
                {% endif %}
                {% endfor %}
              </section>
        </main>

{% endblock %}
