{% extends 'base.html' %}
{% load static %}

{% block content %}

        {% include 'navbar.html' %}

        <main class="image-detail">
          <section class="photo">
              <header class="photo__header">
                  <div class="photo__header-column">
                      <img class="photo__avatar" src="{% static './images/avatar.jpg' %}" />
                  </div>
                  <div class="photo__header-column">
                      <a href="#"><span class="photo__username">{{ post.user.username }}</span></a>
                      {% if post.location %}
                      <span class="photo__location">{{ post.location }}</span>
                      {% endif %}
                  </div>
              </header>
              <a href="{% url 'post:post_details' post.id %}">
                <div class="photo__file-container">
                    <img class="photo__file" src="{{ post.photo.url }}" />
                </div>
              </a>
              <div class="photo__info">
                  <div class="photo__icons">
                      <span class="photo__icon">
                          <a href="{% url 'reaction:likes' post.id %}"><i class="fa fa-heart-o heart fa-lg"></i></a>
                      </span>
                      <span class="photo__icon">
                          <i class="fa fa-comment-o fa-lg"></i>
                      </span>
                  </div>
                  <span class="photo__likes">{{ post.likes }} likes</span>
                  <ul class="photo__comments">
                      <li class="photo__comment">
                          <a href="#"><span class="photo__comment-author">{{ post.user.username }}</span></a>
                          {{ post.caption }}
                      </li>
                      <li class="photo__comment">
                          <span class="photo__comment-author">lynn</span>no is not!
                      </li>
                  </ul>
                  <span class="photo__time-ago">{{ post.created_at }}</span>
                  <div class="photo__add-comment-container">
                      <textarea placeholder="Add a comment..." class="photo__add-comment"></textarea>
                      <i class="fa fa-ellipsis-h"></i>
                  </div>
              </div>
          </section>
        </main>

{% endblock %}
