{% extends 'base.html' %}
{% load static %}

{% block content %}

        {% include 'navbar.html' %}

        <main class="profile-container">
            <section class="profile">
                <header class="profile__header">
                    <div class="profile__avatar-container">
                        <img  src="{{ profile.picture.url }}" class="profile__avatar" />
                    </div>
                    <div class="profile__info">
                        <div class="profile__name">
                            <h1 class="profile__title">{{ profile.user }}</h1>
                            {% if user.is_authenticated and user == profile.user %}
                            <a href="edit-profile.html" class="profile__button u-fat-text">Edit profile</a>
                            <i class="fa fa-cog fa-2x" id="cog"></i>
                            {% endif %}
                        </div>
                        <ul class="profile__numbers">
                            <li class="profile__posts">
                                <span class="profile__number u-fat-text">{{ post_count }}</span> posts
                            </li>
                            <li class="profile__followers">
                                <span class="profile__number u-fat-text">{{ followers_count }}</span> followers
                            </li>
                            <li class="profile__following">
                                <span class="profile__number u-fat-text">{{ following_count }}</span> following
                            </li>
                        </ul>
                        <div class="profile__bio">
                            <span class="profile__full-name u-fat-text">
                              <strong>
                                {% if profile.first_name %}
                                  {{ profile.first_name }}
                                {% endif %}
                                {% if profile.last_name %}
                                  {{ profile.last_name }}
                                {% endif %}
                                {% if profile.nickname %}
                                  ( {{ profile.nickname }} )
                                {% endif %}
                              </strong>
                            </span><br>
                            <p class="profile__full-bio">
                              {% if profile.bio %}
                                {{ profile.bio }}
                              {% endif %}
                            </p><br>
                            <a href="http://ghimirearun.com.np" class="profile__link u-fat-text"><strong>
                              {% if profile.website %}
                                {{ profile.website }}
                              {% endif %}
                            </strong></a>
                        </div>
                    </div>
                </header>
                <div class="profile__pictures">
                  {% for post in posts %}
                    <a href="image-detail.html" class="profile-picture">
                        <img src="{{ post.photo.url }}" class="profile-picture__picture" />
                        <div class="profile-picture__overlay">
                            <span class="profile-picture__number">
                                <i class="fa fa-heart"></i> {{ post.likes }}
                            </span>
                            <span class="profile-picture__number">
                                <i class="fa fa-comment"></i> 39
                            </span>
                        </div>
                    </a>
                  {% endfor %}

                </div>
            </section>
        </main>
        <div class="popUp">
            <i class="fa fa-times fa-2x" id="closePopUp"></i>
            <div class="popUp__container">
                <div class="popUp__buttons">
                    <a href="{% url 'post:create_post' %}" class="popUp__button">Create New Post</a>
                    <a href="{% url 'user:change-password' %}" class="popUp__button">Change Password</a>
                    <a href="{% url 'user:reset-password' %}" class="popUp__button">Reset Password</a>
                    <a href="{% url 'user:logout' %}" class="popUp__button">Log Out</a>
                    <a href="#" class="popUp__button" id="cancelPopUp">Cancel</a>
                </div>
            </div>
        </div>

{% endblock %}
