{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div style='text-align:center;' class="alert alert-{{m.tags}}">
  {{ form.errors }}
</div>

<main class="edit-profile">
    <section class="profile-form">

        <form method="POST" class="edit-profile__form">
            {% csrf_token %}
            <div class="edit-profile__form-row">
                <label for="old_password" class="edit-profile__label">Email Address</label>
                <input type="email" class="edit-profile__input" id="email" />
            </div>
            <div class="edit-profile__form-row">
                <label class="edit-profile__label"></label>
                <input type="submit" value="Send Email">
            </div>
        </form>
    </section>
</main>

{% endblock %}
