{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<main class="edit-profile">
  <section class="profile-form">
    <h4 class="profile-messages-bold">Password Reset Link Sent</h4>
    <br>
    <h4 class="profile-messages">
      We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    </h4>
    <br>
    <h4 class="profile-messages">
      If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
    </h4>
  </section>
</main>

{% endblock %}
