{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<main class="edit-profile">
    <section class="profile-form">

        <form method="POST" class="edit-profile__form">
            {% csrf_token %}
            <div class="edit-profile__form-row">
                <label for="old_password" class="edit-profile__label"></label>
                {{form}}
            </div>
            <div class="edit-profile__form-row">
                <label class="edit-profile__label"></label>
                <input type="submit" value="Reset Password">
            </div>
        </form>
    </section>
</main>

{% endblock %}
